<h6>Dashboard</h6>
<h3>Welcome {{ name }}</h3>

{{#if projects}}
<ul class="collection with-header">
  <li class="collection-header"><h5>Here are your projects</h5></li>
  {{#each projects}}
  <a href="/projects/{{ _id }}" class="collection-item avatar">
    <img src="{{ user.image }}" class="circle" alt="" />
    <span class="title">
      {{ name }}
      <!--a href="/projects/{{ _id }}"> {{ name }}</a-->
    </span>
    <!--span class="title">{{ name }}</span-->
    <p class="grey-text text-darken-2">
      {{ stripTags (truncate abstract 200)  }} <br />
      <span class="grey-text">{{formatDate createdAt 'MMMM Do YYYY'}}</span>
    </p>
   <i class="material-icons secondary-content">chevron_right</i></a
    
  </a>

  <!--
<table class="striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each projects}}
    <tr>
      <td>
        <a href="/projects/{{ _id }}">{{ name }}</a>
      </td>
      <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
      <td>
        <span class="dash-status">{{ status }}</span>
      </td>
      <td>
        <a href="/projects/edit/{{ _id }}" class="btn btn-float">
          <i class="fas fa-edit"></i>
        </a>

        <form action="/projects/{{ _id }}" method="POST" id="delete-form">
          <input type="hidden" name="_method" value="DELETE" />
          <button type="submit" class="btn red">
            <i class="fas fa-trash"></i>
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
-->
  {{/each}}
</ul>
{{else}}
<p>You have not created any projects</p>
{{/if}}
